@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #2D3748;
  --font-sans: var(--font-assistant);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

html {
  scroll-behavior: smooth;
}
